TANSS_BASE_URL=https://tanss.example.org/backend
TANSS_DEVICE_WEB_URL_TEMPLATE=https://tanss.example.org/devices/{deviceId}

PASSKEY_RP_ID=import.example.org
PASSKEY_RP_NAME=TANSS Device Import
PASSKEY_ORIGIN=https://import.example.org

IMPORT_API_BIND_ADDRESS=127.0.0.1
IMPORT_API_HTTPS_PORT=45001
IMPORT_API_HEALTH_PORT=8080
IMPORT_API_SECRETS_PATH=./secrets
IMPORT_API_DATA_PATH=./data/fido2

SAP_ENABLED=false
SAP_SERVER=sql.example.org
SAP_PORT=1433
SAP_DATABASE=SAP_DATABASE_NAME
SAP_USER_NAME=sap_readonly_user
SAP_TRUST_SERVER_CERTIFICATE=false
